name: Update WinGet Packages

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */4 * * *" # Scheduled to run every 4 hours

jobs:
  update:
    name: Update package ${{ matrix.id }}
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        include:
          - id: "WarcraftLogs.Uploader"
            repo: "RPGLogs/Uploaders-warcraftlogs"
            url: "https://github.com/RPGLogs/Uploaders-warcraftlogs/releases/download/v{VERSION}/warcraftlogs-v{VERSION}.exe"
          - id: "ossia.score"
            repo: "ossia/score"
            url: "https://github.com/ossia/score/releases/download/v{VERSION}/ossia.score-{VERSION}-win64.exe"
          - id: "Hydrogen-Music.Hydrogen"
            repo: "Hydrogen-Music/hydrogen"
            url: "https://github.com/hydrogen-music/hydrogen/releases/download/{VERSION}/Hydrogen-{VERSION}-win64.exe"
          - id: "xyproto.algernon"
            repo: "xyproto/algernon"
            url: "https://github.com/xyproto/algernon/releases/download/v{VERSION}/algernon-{VERSION}-windows_x86_64_static.zip"
          - id: "LesFerch.WinSetView"
            repo: "LesFerch/WinSetView"
            url: "https://github.com/LesFerch/WinSetView/releases/download/{VERSION}/WinSetView-Setup.exe"
          - id: "TeraTermProject.teraterm5"
            repo: "TeraTermProject/teraterm"
            url: "https://github.com/TeraTermProject/teraterm/releases/download/v{VERSION}/teraterm-{VERSION}.exe"
          - id: "ChaosRecipeEnhancer.ChaosRecipeEnhancer"
            repo: "ChaosRecipeEnhancer/ChaosRecipeEnhancer"
            url: "https://github.com/ChaosRecipeEnhancer/ChaosRecipeEnhancer/releases/download/{VERSION}/ChaosRecipeEnhancer-Setup.msi"
          - id: "magic-wormhole.magic-wormhole"
            repo: "aquacash5/magic-wormhole-exe"
            url: "https://github.com/aquacash5/magic-wormhole-exe/releases/download/{VERSION}/wormhole.exe"
          - id: "VictorIX.BlenderLauncher"
            repo: "Victor-IX/Blender-Launcher-V2"
            url: "https://github.com/Victor-IX/Blender-Launcher-V2/releases/download/v{VERSION}/Blender_Launcher_v{VERSION}_Windows_x64.zip"
          - id: "DoltHub.Dolt"
            repo: "dolthub/dolt"
            url: "https://github.com/dolthub/dolt/releases/download/v{VERSION}/dolt-windows-amd64.msi"
          - id: "Youda008.DoomRunner"
            repo: "Youda008/DoomRunner"
            url: '"https://github.com/Youda008/DoomRunner/releases/download/v{VERSION}/DoomRunner-{VERSION}-Windows-legacy.32bit.-static.zip https://github.com/Youda008/DoomRunner/releases/download/v{VERSION}/DoomRunner-{VERSION}-Windows-recent.64bit.-static.zip"'
          - id: "Kornelski.DSSIM"
            repo: "kornelski/dssim"
            url: "https://github.com/kornelski/dssim/releases/download/{VERSION}/dssim-{VERSION}.zip"
          - id: "AmanHarwara.Altus"
            repo: "amanharwara/altus"
            url: "https://github.com/amanharwara/altus/releases/download/{VERSION}/Altus-Setup-{VERSION}.exe"
          - id: "Amulet.Amulet"
            repo: "ianmaclarty/amulet"
            url: "https://github.com/ianmaclarty/amulet/releases/download/v{VERSION}/amulet-v{VERSION}-windows.exe"
          - id: "ast-grep.ast-grep"
            repo: "ast-grep/ast-grep"
            url: "https://github.com/ast-grep/ast-grep/releases/download/{VERSION}/app-x86_64-pc-windows-msvc.zip"
          - id: "aziontech.azion"
            repo: "aziontech/azion"
            url: '"https://github.com/aziontech/azion/releases/download/{VERSION}/azion_{VERSION}_windows_386.zip https://github.com/aziontech/azion/releases/download/{VERSION}/azion_{VERSION}_windows_amd64.zip https://github.com/aziontech/azion/releases/download/{VERSION}/azion_{VERSION}_windows_arm64.zip"'
          - id: "garethgeorge.Backrest"
            repo: "garethgeorge/backrest"
            url: "https://github.com/garethgeorge/backrest/releases/download/v{VERSION}/BackrestSetup-x86_64.exe"
          - id: "DygmaLabs.Bazecor"
            repo: "Dygmalab/Bazecor"
            url: "https://github.com/Dygmalab/Bazecor/releases/download/v{VERSION}/Bazecor-{VERSION}-Setup.exe"
          - id: "BiglySoftware.BiglyBT"
            repo: "BiglySoftware/BiglyBT"
            url: "'https://github.com/BiglySoftware/BiglyBT/releases/download/v{VERSION}/GitHub_BiglyBT_Installer32.exe https://github.com/BiglySoftware/BiglyBT/releases/download/v{VERSION}/GitHub_BiglyBT_Installer64_WithJava21.exe'"
          - id: "Martchus.syncthingtray"
            repo: "Martchus/syncthingtray"
            url: '"https://github.com/Martchus/syncthingtray/releases/download/v{VERSION}/syncthingtray-{VERSION}-x86_64-w64-mingw32.exe.zip https://github.com/Martchus/syncthingtray/releases/download/v{VERSION}/syncthingtray-{VERSION}-aarch64-w64-mingw32.exe.zip"'
          - id: "WeakAuras.WeakAurasCompanion"
            repo: "WeakAuras/WeakAuras-Companion"
            url: "https://github.com/WeakAuras/WeakAuras-Companion/releases/download/v{VERSION}/WeakAuras-Companion-Setup-{VERSION}.exe"
          - id: "CatalystDevOrg.CatalystBrowser"
            repo: "CatalystDevOrg/Catalyst"
            url: "https://github.com/CatalystDevOrg/Catalyst/releases/download/v{VERSION}/catalyst-Setup-{VERSION}.exe"
          - id: "CycloneDX.cdxgen"
            repo: "CycloneDX/cdxgen"
            url: '"https://github.com/CycloneDX/cdxgen/releases/download/v{VERSION}/cdxgen-windows-arm64.exe https://github.com/CycloneDX/cdxgen/releases/download/v{VERSION}/cdxgen-windows-amd64.exe"'
          - id: "dune3d.dune3d"
            repo: "dune3d/dune3d"
            url: "https://github.com/dune3d/dune3d/releases/download/v{VERSION}/dune3d-{VERSION}-x64.msi"
          - id: "LinuxContainers.Incus"
            repo: "lxc/incus"
            url: '"https://github.com/lxc/incus/releases/download/v{VERSION}/bin.windows.incus.x86_64.exe https://github.com/lxc/incus/releases/download/v{VERSION}/bin.windows.incus.aarch64.exe"'
          - id: "LibreCAD.LibreCAD"
            repo: "LibreCAD/LibreCAD"
            url: '"https://github.com/LibreCAD/LibreCAD/releases/download/v{VERSION}/LibreCAD-v{VERSION}-win64.exe https://github.com/LibreCAD/LibreCAD/releases/download/v{VERSION}/LibreCAD-v{VERSION}.exe"'
          - id: "Livebook.Livebook"
            repo: "livebook-dev/livebook"
            url: "https://github.com/livebook-dev/livebook/releases/download/v{VERSION}/LivebookInstall-windows-x86_64.exe"
          - id: "zarunbal.LogExpert"
            repo: "LogExperts/LogExpert"
            url: "https://github.com/LogExperts/LogExpert/releases/download/v{VERSION}/LogExpert{VERSION}.zip"
          - id: "int128.kubelogin"
            repo: "int128/kubelogin"
            url: '"https://github.com/int128/kubelogin/releases/download/v{VERSION}/kubelogin_windows_amd64.zip https://github.com/int128/kubelogin/releases/download/v{VERSION}/kubelogin_windows_arm64.zip"'
          - id: "kubescape.kubescape"
            repo: "kubescape/kubescape"
            url: '"https://github.com/kubescape/kubescape/releases/download/v{VERSION}/kubescape_{VERSION}_windows_amd64.exe https://github.com/kubescape/kubescape/releases/download/v{VERSION}/kubescape_{VERSION}_windows_arm64.exe"'
          # - id: "MullvadVPN.MullvadVPN"
          #   repo: "mullvad/mullvadvpn-app"
          #   url: '"https://github.com/mullvad/mullvadvpn-app/releases/download/{VERSION}/MullvadVPN-{VERSION}_x64.exe https://github.com/mullvad/mullvadvpn-app/releases/download/{VERSION}/MullvadVPN-{VERSION}_arm64.exe"'
          - id: "LuaLS.lua-language-server"
            repo: "LuaLS/lua-language-server"
            url: '"https://github.com/LuaLS/lua-language-server/releases/download/{VERSION}/lua-language-server-{VERSION}-win32-ia32.zip https://github.com/LuaLS/lua-language-server/releases/download/{VERSION}/lua-language-server-{VERSION}-win32-x64.zip"'
          - id: "okteto.okteto"
            repo: "okteto/okteto"
            url: "https://github.com/okteto/okteto/releases/download/{VERSION}/okteto.exe"
          - id: "Sidero.omnictl"
            repo: "siderolabs/omni"
            url: "https://github.com/siderolabs/omni/releases/download/v{VERSION}/omnictl-windows-amd64.exe"
          - id: "XmirrorSecurity.OpenSCA-cli"
            repo: "XmirrorSecurity/OpenSCA-cli"
            url: "https://github.com/XmirrorSecurity/OpenSCA-cli/releases/download/v{VERSION}/opensca-cli-v{VERSION}-windows-amd64.zip"
          - id: "osquery.osquery"
            repo: "osquery/osquery"
            url: "https://github.com/osquery/osquery/releases/download/{VERSION}/osquery-{VERSION}.msi"
          - id: "MichaelDiCarlo.PostyBirb+"
            repo: "mvdicarlo/postybirb-plus"
            url: "https://github.com/mvdicarlo/postybirb-plus/releases/download/v{VERSION}/postybirb-plus-setup-{VERSION}.exe"
          - id: "undergroundwires.privacy.sexy"
            repo: "undergroundwires/privacy.sexy"
            url: "https://github.com/undergroundwires/privacy.sexy/releases/download/{VERSION}/privacy.sexy-Setup-{VERSION}.exe"
          - id: "pbek.QOwnNotes"
            repo: "pbek/QOwnNotes"
            url: "https://github.com/pbek/QOwnNotes/releases/download/v{VERSION}/QOwnNotes.zip"
          - id: "DavidRios.Remindr"
            repo: "MrDavidRios/remindr"
            url: "https://github.com/MrDavidRios/remindr/releases/download/v{VERSION}/Remindr-Setup-{VERSION}.exe"
          - id: "SatDump.SatDump"
            repo: "SatDump/SatDump"
            url: '"https://github.com/SatDump/SatDump/releases/download/{VERSION}/SatDump-Windows_arm64_Installer.exe https://github.com/SatDump/SatDump/releases/download/{VERSION}/SatDump-Windows_x64_Installer.exe"'
          - id: "sbt.sbt"
            repo: "sbt/sbt"
            url: "https://github.com/sbt/sbt/releases/download/v{VERSION}/sbt-{VERSION}.msi"
          - id: "5rahim.Seanime"
            repo: "5rahim/seanime"
            url: "https://github.com/5rahim/seanime/releases/download/v{VERSION}/seanime-denshi-{VERSION}_Windows_x64.exe "
          - id: "Automattic.Simplenote"
            repo: "Automattic/simplenote-electron"
            url: '"https://github.com/Automattic/simplenote-electron/releases/download/v{VERSION}/Simplenote-win-{VERSION}-ia32.exe https://github.com/Automattic/simplenote-electron/releases/download/v{VERSION}/Simplenote-win-{VERSION}-x64.exe"'
          - id: "DCSS.DungeonCrawlStoneSoup"
            repo: "crawl/crawl"
            url: "https://github.com/crawl/crawl/releases/download/{VERSION}/dcss-{VERSION}-win32-installer.exe"
          - id: "dbrgn.tealdeer"
            repo: "tealdeer-rs/tealdeer"
            url: "https://github.com/tealdeer-rs/tealdeer/releases/download/v{VERSION}/tealdeer-windows-x86_64-msvc.exe"
          - id: "alexpasmantier.television"
            repo: "alexpasmantier/television"
            url: "https://github.com/alexpasmantier/television/releases/download/{VERSION}/tv-{VERSION}-x86_64-pc-windows-msvc.zip"
          - id: "TermoraDev.Termora"
            repo: "TermoraDev/termora"
            url: '"https://github.com/TermoraDev/termora/releases/download/{VERSION}/termora-{VERSION}-windows-x86-64.exe https://github.com/TermoraDev/termora/releases/download/{VERSION}/termora-{VERSION}-windows-aarch64.exe"'
          - id: "Tribler.Tribler"
            repo: "Tribler/tribler"
            url: "https://github.com/Tribler/tribler/releases/download/v{VERSION}/Tribler_{VERSION}_x64.exe"
          - id: "krzys-h.UndertaleModTool"
            repo: "UnderminersTeam/UndertaleModTool"
            url: "https://github.com/UnderminersTeam/UndertaleModTool/releases/download/{VERSION}/UndertaleModTool_v{VERSION}-Windows.zip"
          - id: "UniversalMediaServer.UniversalMediaServer"
            repo: "UniversalMediaServer/UniversalMediaServer"
            url: "https://github.com/UniversalMediaServer/UniversalMediaServer/releases/download/{VERSION}/UMS-Windows-{VERSION}-x86_64.exe"
          - id: "GiantPinkRobots.Varia"
            repo: "giantpinkrobots/varia"
            url: "https://github.com/giantpinkrobots/varia/releases/download/v{VERSION}/varia-windows-setup-amd64.exe"
          - id: "marha.VcXsrv"
            repo: "marchaesen/vcxsrv"
            url: "https://github.com/marchaesen/vcxsrv/releases/download/{VERSION}/vcxsrv-64.{VERSION}.installer.exe"
          - id: "sdercolin.vlabeler"
            repo: "sdercolin/vlabeler"
            url: "https://github.com/sdercolin/vlabeler/releases/download/{VERSION}/vlabeler-{VERSION}-win64.zip"
          - id: "MurkyYT.CSAuto"
            repo: "MurkyYT/CSAuto"
            url: "https://github.com/MurkyYT/CSAuto/releases/download/{VERSION}/CSAuto_Installer.exe"
          - id: "GAM-Team.gam"
            repo: "GAM-team/gam"
            url: '"https://github.com/GAM-team/GAM/releases/download/v{VERSION}/gam-{VERSION}-windows-x86_64.msi https://github.com/GAM-team/GAM/releases/download/v{VERSION}/gam-{VERSION}-windows-arm64.msi"'
          - id: "TobySuggate.GitFiend"
            repo: "GitFiend/Support"
            url: "https://github.com/GitFiend/Support/releases/download/v{VERSION}/GitFiend.Setup.{VERSION}.exe"
          - id: "MrMarble.yoink"
            repo: "MrMarble/yoink"
            url: "https://github.com/MrMarble/yoink/releases/download/v{VERSION}/yoink_windows_amd64.zip"
          - id: "TabbyML.Tabby"
            repo: "TabbyML/tabby"
            url: "https://github.com/TabbyML/tabby/releases/download/v{VERSION}/tabby_x86_64-windows-msvc-cuda124.zip"
          - id: "hasherezade.PE-bear"
            repo: "hasherezade/pe-bear"
            url: "https://github.com/hasherezade/pe-bear/releases/download/v{VERSION}/PE-bear_{VERSION}_qt5_x64_win_vs19.zip"
          - id: "Google.Perfetto"
            repo: "google/perfetto"
            url: "https://github.com/google/perfetto/releases/download/v{VERSION}/windows-amd64.zip"
          - id: "PioneerDevelopers.Pioneer"
            repo: "pioneerspacesim/pioneer" 
            url: "https://github.com/pioneerspacesim/pioneer/releases/download/{VERSION}/pioneer-{VERSION}-win.exe"
          - id: "GraylogInc.GraylogSidecar"
            repo: "Graylog2/collector-sidecar"
            url: "https://github.com/Graylog2/collector-sidecar/releases/download/{VERSION}/graylog-sidecar-{VERSION}-1.msi"
          - id: "Ninja-build.Ninja"
            repo: "ninja-build/ninja"
            url: '"https://github.com/ninja-build/ninja/releases/download/v{VERSION}/ninja-win.zip https://github.com/ninja-build/ninja/releases/download/v{VERSION}/ninja-winarm64.zip"'
          - id: "GarboMuffin.TurboWarp"
            repo: "TurboWarp/desktop"
            url: '"https://github.com/TurboWarp/desktop/releases/download/v{VERSION}/TurboWarp-Setup-{VERSION}-ia32.exe https://github.com/TurboWarp/desktop/releases/download/v{VERSION}/TurboWarp-Setup-{VERSION}-x64.exe https://github.com/TurboWarp/desktop/releases/download/v{VERSION}/TurboWarp-Setup-{VERSION}-arm64.exe"'

    steps:
      - name: Update Packages
        uses: michidk/winget-updater@latest
        with:
          komac-version: "latest"
          komac-token: ${{ secrets.KOMAC_TOKEN }}
          identifier: ${{ matrix.id }}
          repo: ${{ matrix.repo }}
          url: ${{ matrix.url }}

  cleanup:
    name: Cleanup branches
    # needs: update # Not necessarily needed as PRs don't get closed that quick but still nice to have it in order
    runs-on: ubuntu-24.04

    steps:
      - name: Run Komac
        uses: michidk/run-komac@latest
        with:
          komac-version: "latest"
          args: "cleanup --only-merged --token=${{ secrets.KOMAC_TOKEN }}"
